* {
    font-family: "Calibri", sans-serif;
    background-color: lightyellow;
}

h1 {
    font-size: 44px;
    text-align: center;
}

.front-list{
   text-align: center;
   font-size: 22px;
   list-style-type: none;
}

h3 {
    color: red;
}

.italics {
    font-style: italic;
    font-weight: bold;
    color: firebrick;
}

h2{
    font-size: 33px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}